{% from 'utils/_form_fields.html' import render_field, button_field %}

{% macro form_base(form) %}
<div class="row">
    <div class="col-md-6 col-12">
        <div class="form-group">
            {{ render_field(form.name, class_="form-control", icon=False, placeholder='Titulo') }}
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            {{ render_field(form.description, class_="form-control", icon=False, placeholder='Nombre') }}
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            {{ render_field(form.code, class_="form-control", icon=False, placeholder='Código interno') }}
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            {{ render_field(form.price_base, class_="form-control", icon=False, placeholder='Código interno') }}
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            {{ render_field(form.manufacturer, class_="form-control", icon=False, placeholder='Fabricante') }}
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            {{ render_field(form.type_product, class_="form-control", icon=False, placeholder='Tipo de producto') }}
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            {{ render_field(form.expiration_date, class_="form-control", icon=False, placeholder='Fecha de vencimiento') }}
        </div>
    <div class="col-md-6 col-12">
        <div class="form-group">
            {{ render_field(form.stock, class_="form-control", icon=False, placeholder='Fecha de vencimiento') }}
        </div>
    </div>
</div>

<div class="col-12 d-flex justify-content-end">
    {{ button_field(form.submit, class_="btn btn-primary me-1 mb-1") }}
</div>

{% endmacro %}